@import "content_primary.css";
@import "content_secondary.css";
@import "menu.css";

/* acima de 900 = verdadeiro*/
/* DESKTOP */
@media (min-width: 900px) {
  #logo-mobile {
    display: none;
  }
  #menu-mobile{
    display: none;
  }
  #main{
    display: flex;
    margin: auto;
    margin-top: 32px;
  }
}
/* abaixo de 900 = verdadeiro*/
/* MOBILE */
@media (max-width: 900px) {
  #logo-desktop{
    display: none;
  }
  #menu{
    display: none;
  }
  #main{
    display: unset;
    margin: auto;
    margin-top: 32px;
  }
}

body {
  font-family: "Encode Sans", sans-serif;
  font-size: 15px;
  letter-spacing: -0.03em;
  width: 90%;
  max-width: 1250px;
  margin: auto;
  justify-content: center;
}
  
a {
  text-decoration: none;
  display: block;
  color: inherit;
  transition: filter 300ms;
}
  
a:hover {
  filter: brightness(50%);
}

.main {
  display: flex;
  margin: 64px 0px;
}

.separator-h {
  background-color: #EBEDEF;
  width: 95%;
  height: 2px;
  margin: 15px 0px 25px 0;
}
.separator-v {
  background-color: #EBEDEF;
  width: 2px;
  height: 95%;
  margin: 15px 0px 25px 0;
  transform: translate(0, -2%);
}
